@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';
@font-face {
    font-family: vaziri;
    src: url("../../assets/fonts/vaziri/Vazir-Bold-FD-WOL.ttf");
}
*{
    font-family: vaziri , sans-serif;
}
